// partials

@import "partials/reset";
@import "partials/variables";

// estilos header 

header{
    display: flex;
    justify-content: space-between;
    background-color: $color-principal;
    background-image: linear-gradient(to bottom, red, yellow);
    text-decoration: $formato-texto;
    h1{
        text-decoration: $formato-texto;
        text-align: center;
        margin: 20px;
        color : white
    }
    nav{
        ul{
            display: flex;
            flex-direction: row;
            text-align: right; 
            padding: 30px;
            background-image: linear-gradient(to bottom, red, yellow);
            li{
                list-style: none;
                padding: 20px;
                a{
                    color : white;
                }
            }
        }
    }
}